<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="estilo.css">
<body>
    <header>
        <div></div>
        <img src="https://static.vecteezy.com/system/resources/previews/017/048/280/original/cute-cat-illustration-cat-kawaii-chibi-drawing-style-cat-cartoon-vector.jpg" alt="Only Kitties"style="float: left; margin-right: 10px;  width="70" height="70">
        <h1>OnlyKitties</h1>
        <div>

            
<a href="a">
            <nav>
                <a href="" class="nav-link">Registrar</a><a href="" class="nav-link">Iniciar sesion</a>
            </nav>
        </div>
    
</body>
</html>