.gatitos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .gatito-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    background-color: #090606;

  }
  
  .gatito-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  