.pagination {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .pagination button {
    width: 50%;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
  }
  
  .pagination button.active {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    width: 50%;
  }
  